[submodule "public"]
	path = public
	url = https://github.com/shabinesh/shabinesh.github.io.git
	branch = master
[submodule "themes/hugo-bearblog"]
	path = themes/hugo-bearblog
	url = https://github.com/janraasch/hugo-bearblog.git
